<nav class="navbar navbar-inverse bg-inverse">
    <div class="container">
      <a class="navbar-brand" href="/elections/">
      Online Voting System | Admin
      </a>
      <a class="navbar-brand" id="user-profile" href="/elections/">Admin</a>
      <a href="/" class="navbar-brand" id="user-profile"> Logout</a>
    </div>
</nav>
