<nav class="navbar navbar-inverse bg-inverse">
    <div class="container">
      <a class="navbar-brand" href="/">
      Online Voting System | Admin
      </a>
      <a class="navbar-brand" id="user-profile" href="/adminlogin">Admin</a>
      <a href="/" class="navbar-brand" id="user-profile"> Logout</a>
    </div>
</nav>
