<!DOCTYPE html>
<html>
<% include ./head %>
<body>
  <div class="container">
  <div id="user-menus">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/adminlogin/manageElection" role="tab" data-toggle="tab">Manage Elections</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/adminlogin/manageCandidate" role="tab" data-toggle="tab">Manage Candidates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminlogin/manageVoter" role="tab" data-toggle="tab">Manage Voters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminlogin/results" role="tab" data-toggle="tab">Results</a>
        </li>
        </ul>
   </div>
  </div>
