.container{
	margin-bottom:20px;
}
ul{
	list-style-type: none;
}
#login-box{
	position: relative;
	top:100px;
	width:450px;
	height:300px;
}

#user-profile{
	float:right;
}

#user-menus{
	position: relative;
	top:30px;
}
#ongoing{
	position: relative;
	top:20px;
}

.elections{
	width:100%;
	margin-top:10px;
	height:150px;
	border-radius: 5px;
	background-color: #f1f1f1;
	padding: 10px;
}

.elections h3{
	
	width:100%;
}

.elections button{
	margin-right: 10px;	
	float:right;
}

#profile{
	position: relative;
	top:20px;
}

#vote-section{
	position: relative;
	top:30px;
}
#result-box table{
	width:400px;
}

.touchdown{
	top:20px;
}
.voters{
	width:100%;
	margin-top:10px;
	height:100px;
	border-radius: 5px;
	background-color: #f1f1f1;
	padding: 10px;
}

.voters h3{
	
	width:100%;
}

.voters button{
	margin-right: 10px;	
	float:right;
}