<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
		<div class=" bodyContainer container">
			<div id="user-menus">
					<% include ./admin/adminUserMenus %>
					<!-- Tab panes -->
					<div class="tab-content">
					  <div role="tabpanel" class="tab-pane active" id="mElection">
					  			<% include ./admin/manageElection %>
					  </div>
					  <div role="tabpanel" class="tab-pane fade" id="mCandidates">
					  		<% include ./admin/manageCandidate %>
					  	</div>
					  	 <div role="tabpanel" class="tab-pane fade" id="mVoters">
					  	 		<% include ./admin/manageVoter %>
					  	</div>

					  <div role="tabpanel" class="tab-pane fade" id="results">
					  		<% include ./admin/results %>
					  	</div>
					  </div>
					</div>
			</div>



<% include ./partials/footer %>
</body>
