<% include ./partials/adminHead %>
<% include ./partials/adminUserMenus %>
<div class="container bodyContainer">
  <div class="col-6 touchdown">
    <a href="/createElection"><button class="btn btn-success">Create Election</button></a>

    <% for(var i=0; i< elections.length; i++) {%>
    <div class="elections">
      <h3> <%= elections[i].electionName  %> </h3>
      <div>
        <span>Election Type: <%= elections[i].electionType  %></span><br/>
        <span>Date : <%= elections[i].electionSDate  %></span>
        <button class="btn btn-primary">Delete</button>
        <button class="btn btn-primary">Update</button>

      </div>
    </div>
     <% } %>
  </div>
</div>

<% include ./partials/footer %>
</body>
