
<div class="form-group">
  <label for="chooseElection">Choose Election</label>
  <select class="form-control" id="chooseElection">
    <option>Election 1</option>
    <option>Election 2</option>
    <option>Election 3</option>
  </select>
</div>

<div id= "result-box" class="jumbotron">
    <table class="table">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Vote Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark Brown</td>
          <td>53%</td>
        </tr>
        <tr>
          <td>John Fielding</td>
          <td>40%</td>
        </tr>
        <tr>
          <td>Seth Gray</td>
          <td>7%</td>
        </tr>

      </tbody>
    </table>
</div>
