body,html{
	height:100%;
}
.bodyContainer{
	min-height:550px;
	padding-bottom: 40px;
	padding-top: 20px;
}
ul{
	list-style-type: none;
}
table td, .table th, .table td{
    border-top: none !important;
}
#login-box{
	position: relative;
	top:100px;
	width:450px;
	height:300px;
}

#user-profile{
	float:right;
}

#finalRoundResult{
	float: right;
}

#user-menus{
	position: relative;
	margin-top:30px;
}

.userMenuItems{
	height:200px;
	background-color: #595a5a;
	color: #fff;
	border-radius: 10px;
	display: block;
	float: left;
	text-align: center;
	margin:20px;
	padding-top: 60px;
}
.userMenuItems:hover{
	opacity: 0.8;
}
#ongoing{
	position: relative;
	top:20px;
}

.elections{
	margin-top:20px;
	height:190px;
	border-radius: 5px;
	background-color: #f1f1f1;
	padding: 10px;
}

.elections h3{

	width:100%;
}

.elections button,.elections a{
	margin-right: 10px;
	float:right;
}

#profile{
	position: relative;
	top:20px;
}

#voting-section{
	position: relative;
	margin-top:30px;
}
#result-box table{
	width:400px;
}

.touchdown{
	top:30px;
}

.candidateBox{
	width:250px;
	height:250px;
	border-radius: 30px;
	float:left;
	padding:10px;
	margin:20px;
	background-image: url('../images/dummy-image.jpg');
	background-size: 250px 250px;
	 background-repeat: no-repeat;

}
.candidate-elect{
	margin-top:20px;
}
.voters{
	width:100%;
	margin-top:10px;
	height:120px;
	border-radius: 5px;
	background-color: #f1f1f1;
	padding: 10px;
}
.votingLabel{
	width:100%;
	padding:5px;
	color: #fff;
	background: #6d6d6d;
	font-size: 1.25em;
	opacity:0.8;
	border-radius: 5px;
}

.votingLabelParty{
	width: 100%;
	position: relative;
	top:140px;
	height: 40px;
	color: #fff;
	text-align: center;
	background: #000;
	padding: 10px;
	opacity: 0.7;
}

.voters h3{
	width:100%;
}

.voters button{
	margin-right: 10px;
	float:right;
}
.candidate{
	border:1px black;
	margin: 5px;
}
#showParty{
	display: none;
}

footer{
	position: relative;
	background-color: #292b2c;
	height:50px;
	margin-top: 20px;
	padding: 10px;
	width:100%;
	bottom:0;
}
#createElectionBtn{
	margin-top: 20px;
}
#currCandidate{
	background-color: #eceeef;
}
#round-Box{
	width:100%;
	height:50px;
	font-size: 1.5em;
	margin-top:10px;
	margin-bottom: 20px;
}
#round-Box button{
	float: right;
}
