<!DOCTYPE html>

<html>
  <head>
       <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/adminHead %>
    <div class="container bodyContainer">
          <a href="/candidates/create" class="btn btn-success"> Create Candidate </a>

          <table class="table">
          <thead>
            <tr>
              <th>Candidate</th>
              <th>Address</th>
              <th>Party</th>
            </tr>
          </thead>
          <tbody>
              <%  for( var i= 0; i< candidates.length; i++){ %>
            <tr>

                <td><%= candidates[i].name%></td>
                <td><%= candidates[i].address%></td>
                <td><%= candidates[i].party%></td>
                <td><button class="btn btn-primary" id="editVoter">Edit</button></td>
                <td><button class="btn btn-danger" id="deleteVoter">Delete</button></td>
            </tr>
              <% } %>

          </tbody>
        </table>
    </div>
  <% include ../partials/head %>
  </body>
</html>
