<!-- Displays future elections to party-->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
<% include ../partials/nav %>
<div class="container bodyContainer">
    <div class="col-6 touchdown">

<h1>Future Elections</h1>

        <div class="userMenuItems col-6">
            <h2>Presidentioal Elections</h2>
        </div>

        <a href="/parties/parliamentElections">
        <div class="userMenuItems col-6">
            <h2>Parliament Elections</h2>
        </div>


</body>
</html>
