<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
<% include ../partials/partyHead %>
<div class="container bodyContainer">
  <h2>Nominate Candidates</h2>
    <a href="/parties/nominate/Presidential">
        <div class="userMenuItems col-3">
            <h2>Presidential Elections</h2>
        </div>

    </a>

  <a href="/parties/nominate/Parlimentary">
        <div class="userMenuItems col-3">
            <h2>Parliament Elections</h2>
        </div>
    <a/>


</body>
</html>
