<!-- Home page of Party-->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/partyHead %>
<div class="container bodyContainer">
    <h3>Welcome, Party</h3>

    <a href="/parties/nominate">
        <div class="userMenuItems col-3">
            <h2>Nominate Candidates</h2>
        </div>
    </a>

    <a href="/parties/myCandidates">
        <div class="userMenuItems col-3">
            <h2>My Candidates</h2>
        </div>
    </a>
    <a href="/users/results">
        <div class="userMenuItems col-3">
            <h2>View Results</h2>
        </div>
    </a>

</div>
<% include ../partials/footer %>
</body>

</html>
