<!-- Displays Parliament Elections to Party-->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
<% include ../partials/nav %>
<div class="container bodyContainer">
    <div class="col-6 touchdown">

        <h1>Parliament Elections</h1>


        <table class="table">
            <thead>
            <tr>
                <th>Election Name</th>
                <th>Election Date</th>
            </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    </div>
</div>
</body>
</html>
