<!DOCTYPE html>
<html>
<head>
	<title>Online Voting System</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="style.css">
	
</head>
<body>
			
		<nav class="navbar navbar-inverse bg-inverse">
		  	<div class="container">
		  		<a class="navbar-brand" href="index.html">
			    Online Voting System | User Login
			  	</a>
			  
			  	<a class="navbar-brand" id="user-profile" href="#">John Brown</a>
			  	<a href="index.html" class="navbar-brand" id="user-profile"> Logout</a>
		
		  	</div>
		</nav>

		<div class="container">

			<div id="user-menus">	
					<ul class="nav nav-tabs" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" href="#ongoing" role="tab" data-toggle="tab">Ongoing Elections</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#results" role="tab" data-toggle="tab">Results</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#profile" role="tab" data-toggle="tab">My Profile</a>
					  </li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
					  <div role="tabpanel" class="tab-pane active" id="ongoing">
					  	<div class="col-6">
					  		<div class="elections">
					  			<h3>Class Election</h3>
					  			<div>
						  			<span>Details about election</span>
						  			<a href="vote.html"><button class="btn btn-primary">Vote in this election</button></a>
					  			</div>
						  	</div>
						  	<div class="elections">
						  		<h3>Student Council Election</h3>
					  			<div>
						  			<span>Details about election</span>
						  			<a href="vote.html"><button class="btn btn-primary">Vote in this election</button></a>
					  			</div>

						  	</div>
						  	<div class="elections">
						  		<h3>Presidential Election</h3>
					  			<div>
						  			<span>Details about election</span>
						  			<a href="vote.html"><button class="btn btn-primary">Vote in this election</button></a>
					  			</div>

						  	</div>
					  		
					  	</div>

					  </div>

					  <div role="tabpanel" class="tab-pane fade" id="results">
					  		<div class="form-group">
							    <label for="chooseElection">Choose Election</label>
							    <select class="form-control" id="chooseElection">
							      <option>Election 1</option>
							      <option>Election 2</option>
							      <option>Election 3</option>
							    </select>
							  </div>

							  <div id= "result-box" class="jumbotron">
							  		<table class="table">
										  <thead>
										    <tr>
										      <th>Candidate</th>
										      <th>Vote Percentage</th>
										    </tr>
										  </thead>
										  <tbody>
										    <tr>
										      <td>Mark Brown</td>
										      <td>53%</td>
										    </tr>
										    <tr>
										      <td>John Fielding</td>
										      <td>40%</td>
										    </tr>
										    <tr>
										      <td>Seth Gray</td>
										      <td>7%</td>
										    </tr>
										    
										  </tbody>
										</table>
							  </div>

					  		
					  	</div>
					  	 <div role="tabpanel" class="tab-pane fade" id="profile">
					  			<div>
					  				<h2>John Brown</h2>
					  				<p>St John's, NL, Canada</p>
					  				<button class="btn-success btn">Change personal details</button>
					  			</div>
					  		
					  	</div>
					  </div>






					
					</div>
			

			
			</div>
	
		</div>


</body>
				