<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container bodyContainer">
        <h3>Welcome, User</h3>

        <a href="/users/elections">
          <div class="userMenuItems col-3">
              <h2>Ongoing Elections</h2>
        </div>
        </a>
        <a href="/users/myAccount">
        <div class="userMenuItems col-3">
          <h2>My Account</h2>
        </div>
      </a>
      <a href="/users/results">
      <div class="userMenuItems col-3">
            <h2>View Results</h2>
        </div>
      </a>
        <div class="userMenuItems col-3">
              <h2>Location</h2>
        </div>

      </div>
      <% include ../partials/footer %>
  </body>

</html>
