<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="bodyContainer container">
            <h1>Under development</h1>


      </div>
      <% include ../partials/footer %>
  </body>


</html>
