<!DOCTYPE html>
<html>
   <% include ../partials/head %>
<body>

		<nav class="navbar navbar-inverse bg-inverse">
		  	<div class="container">
		  		<a class="navbar-brand" href="/">
			    Online Voting System | Create Election
			  	</a>
			  	<a class="navbar-brand" id="user-profile" href="#">Admin</a>
			  	<a href="index.html" class="navbar-brand" id="user-profile"> Logout</a>

		  	</div>
		</nav>

		<div class="bodyContainer container">
			<div class="row">
				<div class="col-6 touchdown">
          <form method="post" action="/elections/save">
					  <div class="form-group">
						    <label for="electionName">Election Name</label>
						    <input type="text" name="electionName" placeholder="Election Name" class="form-control" required>
					  </div>

					<div class="form-group">
            <div class="row">
              <div class="col-6"
    						<label for="electionDate">Election Date</label>
    						<input type="date" name="electionDate" placeholder=" Election Date" class="form-control" required>
    					</div>
            </div>
        </div>
          <div class="form-group">
             <label for="electionType">Election Type</label>
             <select class="form-control" name="electionType" required id="electionType">
               <option>Presidential</option>
               <option>District</option>
             </select>
         </div>


		  		 <input class="btn btn-primary" id="createElectionBtn" value="Create Election" type="submit">
         </form>
		       </div>
      </div>
	</div>
      <% include ../partials/footer %>
</body>
</html>
