<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/adminHead %>
    <div class="bodyContainer container">

    <h3>Which candidate would you like to enroll in this election?</h3>
    <table class="table">
          <tr>
              <td>Candidate</td>
              <td>Party</td>
          </tr>
        <%  for( var i= 0; i< candidates.length; i++){ %>

                <tr>
                  <td><%= candidates[i].name%></td>
                  <td><%=candidates[i].party%></td>
                  <td> <button type="button" name="enrollBtn"  value="<%=candidates[i].id%>" class="btn btn-primary enrollBtn">Enroll <%= " " + candidates[i].name%></button></td>
                </tr>

          <% } %>
            </table>

      </div>
      <% include ../partials/footer %>
  </body>


</html>
